@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

@layer components {
  .category-card {
    background-color: theme("colors.white");
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }

  .hot-job-card {
    min-width: 174px;
    max-width: 174px;
    min-height: 152px;
    max-height: 152px;
    padding: theme("spacing.3");
    margin-left: theme("spacing.3");
    margin-right: theme("spacing.3");
    box-shadow: 0 3px 6px 0 #002952;
    background-color: theme("colors.white");
  }

  .btn {
    background-color: theme("colors.secondary");
    color: theme("colors.white");
    border-radius: 7px;
    padding-top: theme("spacing.1");
    padding-bottom: theme("spacing.1");
    padding-left: theme("spacing.2");
    padding-right: theme("spacing.2");
    height: fit-content;
  }

  .prepend.inset-center {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(0, -50%);
  }

  [dir="rtl"] .prepend.inset-center {
    left: auto;
    right: 1rem;
    transform: translate(0, -50%);
  }

  .append.inset-center {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translate(0, -50%);
  }

  [dir="rtl"] .append.inset-center {
    left: 0.5rem;
    right: auto;
    transform: translate(0, -50%);
  }

  .flex-cols-3 {
    width: calc((100% - 1rem) / 3);
  }

  .underline-decor {
    border-bottom: 5px solid theme("colors.secondary");
    margin-top: theme("spacing.6");
    width: 11rem;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: theme("colors.placeholder") !important;
    font-style: italic;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-style: italic;
    color: theme("colors.placeholder") !important;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-style: italic;
    color: theme("colors.placeholder") !important;
  }

  @media (min-width: 768px) {
    .hot-job-card {
      min-width: 376px;
      max-width: 376px;
      min-height: 280px;
      max-height: 280px;
    }
  }
  @media (max-width: 768.9px) {
    .underline-decor {
      border-bottom-width: 2px;
      margin-top: theme("spacing.2");
      width: 5rem;
    }

    .btn {
      padding-top: theme("spacing.2");
      padding-bottom: theme("spacing.2");
      padding-left: theme("spacing.4");
      padding-right: theme("spacing.4");
    }
  }
}

/* Customizing default theme */
.alignwide {
  margin-left: auto !important;
  margin-right: auto !important;
}
