@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

.alignwide {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@layer components {
  .card {
    background-color: theme("colors.white");
    padding: theme("spacing.6");
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }

  .btn {
    background-color: theme("colors.secondary");
    color: theme("colors.white");
    border-radius: 7px;
    padding-top: theme("spacing.1");
    padding-bottom: theme("spacing.1");
    padding-left: theme("spacing.2");
    padding-right: theme("spacing.2");
    height: fit-content;
  }

  .underline-decor {
    border-bottom: 5px solid  theme("colors.secondary");
    margin-top: theme("spacing.6");
    width: 11rem;
  }
}
