.container {
  width: 100%;
  padding-right: 0rem;
  padding-left: 0rem
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

.static {
  position: static !important
}

.absolute {
  position: absolute !important
}

.relative {
  position: relative !important
}

.top-auto {
  top: auto !important
}

.left-3 {
  left: 0.75rem !important
}

.right-3 {
  right: 0.75rem !important
}

.right-4 {
  right: 1rem !important
}

.top-4 {
  top: 1rem !important
}

.col-span-2 {
  grid-column: span 2 / span 2 !important
}

.col-span-4 {
  grid-column: span 4 / span 4 !important
}

.m-8 {
  margin: 2rem !important
}

.my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important
}

.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important
}

.my-3 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important
}

.my-8 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}

.mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important
}

.-mb-1 {
  margin-bottom: -0.25rem !important
}

.mb-3 {
  margin-bottom: 0.75rem !important
}

.mb-4 {
  margin-bottom: 1rem !important
}

.mt-1 {
  margin-top: 0.25rem !important
}

.mt-5 {
  margin-top: 1.25rem !important
}

.mt-6 {
  margin-top: 1.5rem !important
}

.mb-8 {
  margin-bottom: 2rem !important
}

.mb-2 {
  margin-bottom: 0.5rem !important
}

.mt-2 {
  margin-top: 0.5rem !important
}

.mt-8 {
  margin-top: 2rem !important
}

.mt-4 {
  margin-top: 1rem !important
}

.mb-1 {
  margin-bottom: 0.25rem !important
}

.mb-12 {
  margin-bottom: 3rem !important
}

.inline-block {
  display: inline-block !important
}

.flex {
  display: flex !important
}

.table {
  display: table !important
}

.grid {
  display: grid !important
}

.hidden {
  display: none !important
}

.h-10 {
  height: 2.5rem !important
}

.h-1 {
  height: 0.25rem !important
}

.h-6 {
  height: 1.5rem !important
}

.min-h-screen {
  min-height: 100vh !important
}

.w-full {
  width: 100% !important
}

.w-10 {
  width: 2.5rem !important
}

.w-auto {
  width: auto !important
}

.w-16 {
  width: 4rem !important
}

.w-6 {
  width: 1.5rem !important
}

.max-w-sm {
  max-width: 24rem !important
}

.flex-grow {
  flex-grow: 1 !important
}

.transform {
  transform: var(--tw-transform) !important
}

.cursor-pointer {
  cursor: pointer !important
}

.list-disc {
  list-style-type: disc !important
}

.list-decimal {
  list-style-type: decimal !important
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr)) !important
}

.flex-col {
  flex-direction: column !important
}

.flex-col-reverse {
  flex-direction: column-reverse !important
}

.flex-wrap {
  flex-wrap: wrap !important
}

.items-end {
  align-items: flex-end !important
}

.items-center {
  align-items: center !important
}

.justify-start {
  justify-content: flex-start !important
}

.justify-end {
  justify-content: flex-end !important
}

.justify-center {
  justify-content: center !important
}

.justify-between {
  justify-content: space-between !important
}

.justify-around {
  justify-content: space-around !important
}

.gap-2 {
  gap: 0.5rem !important
}

.gap-4 {
  gap: 1rem !important
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse)) !important
}

.overflow-hidden {
  overflow: hidden !important
}

.text-ellipsis {
  text-overflow: ellipsis !important
}

.whitespace-nowrap {
  white-space: nowrap !important
}

.rounded-full {
  border-radius: 9999px !important
}

.rounded-xl {
  border-radius: 0.75rem !important
}

.rounded {
  border-radius: 0.25rem !important
}

.border {
  border-width: 1px !important
}

.border-t {
  border-top-width: 1px !important
}

.border-b {
  border-bottom-width: 1px !important
}

.border-none {
  border-style: none !important
}

.border-gray-300 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important
}

.border-primary {
  --tw-border-opacity: 1 !important;
  border-color: rgb(0 41 82 / var(--tw-border-opacity)) !important
}

.bg-primary {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(0 41 82 / var(--tw-bg-opacity)) !important
}

.bg-sliderbg {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(241 242 242 / var(--tw-bg-opacity)) !important
}

.bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important
}

.bg-gray-200 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important
}

.bg-mainbg {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(247 247 247 / var(--tw-bg-opacity)) !important
}

.bg-gray-100 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important
}

.p-2 {
  padding: 0.5rem !important
}

.p-4 {
  padding: 1rem !important
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important
}

.py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important
}

.px-20 {
  padding-left: 5rem !important;
  padding-right: 5rem !important
}

.px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important
}

.px-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important
}

.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important
}

.px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.pt-6 {
  padding-top: 1.5rem !important
}

.pb-8 {
  padding-bottom: 2rem !important
}

.pl-11 {
  padding-left: 2.75rem !important
}

.pt-20 {
  padding-top: 5rem !important
}

.pb-3 {
  padding-bottom: 0.75rem !important
}

.pb-4 {
  padding-bottom: 1rem !important
}

.pl-5 {
  padding-left: 1.25rem !important
}

.text-center {
  text-align: center !important
}

.text-right {
  text-align: right !important
}

.text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important
}

.text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important
}

.text-base {
  font-size: 1rem !important;
  line-height: 1.5rem !important
}

.text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important
}

.text-5xl {
  font-size: 3rem !important;
  line-height: 1 !important
}

.text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.font-bold {
  font-weight: 700 !important
}

.font-light {
  font-weight: 300 !important
}

.font-extrabold {
  font-weight: 800 !important
}

.leading-tight {
  line-height: 1.25 !important
}

.text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important
}

.text-gray-800 {
  --tw-text-opacity: 1 !important;
  color: rgb(31 41 55 / var(--tw-text-opacity)) !important
}

.text-gray-900 {
  --tw-text-opacity: 1 !important;
  color: rgb(17 24 39 / var(--tw-text-opacity)) !important
}

.text-primary {
  --tw-text-opacity: 1 !important;
  color: rgb(0 41 82 / var(--tw-text-opacity)) !important
}

.text-gray-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(55 65 81 / var(--tw-text-opacity)) !important
}

.text-blue-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(59 130 246 / var(--tw-text-opacity)) !important
}

.antialiased {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important
}

.opacity-50 {
  opacity: 0.5 !important
}

.outline {
  outline-style: solid !important
}

.filter {
  filter: var(--tw-filter) !important
}

.alignfull {
  margin: 0.5rem calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw
}

.alignwide {
  margin-left: -4rem;
  margin-right: -4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 1280px
}

.alignnone {
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  max-width: 100%
}

.aligncenter {
  margin: 0.5rem auto;
  display: block
}

@media (min-width: 640px) {
  .alignleft:not(.wp-block-button) {
    margin-right: 0.5rem
  }

  .alignleft:not(.wp-block-button) {
    float: left
  }

  .alignright:not(.wp-block-button) {
    margin-left: 0.5rem
  }

  .alignright:not(.wp-block-button) {
    float: right
  }

  .wp-block-button.alignleft a {
    float: left
  }

  .wp-block-button.alignleft a {
    margin-right: 1rem
  }

  .wp-block-button.alignright a {
    float: right
  }

  .wp-block-button.alignright a {
    margin-left: 1rem
  }
}

.wp-caption {
  display: inline-block
}

.wp-caption img {
  margin-bottom: 0.5rem;
  line-height: 1
}

.wp-caption-text {
  font-size: 0.875rem;
  color: #4b5563
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.wp-block {
  max-width: 1280px
}

.wp-block[data-align=wide] {
  max-width: 1280px
}

.wp-block[data-align=full] {
  max-width: 100%
}

.marker\:text-green-400 *::marker {
  --tw-text-opacity: 1 !important;
  color: rgb(74 222 128 / var(--tw-text-opacity)) !important
}

.marker\:text-green-400::marker {
  --tw-text-opacity: 1 !important;
  color: rgb(74 222 128 / var(--tw-text-opacity)) !important
}

[dir="rtl"] .rtl\:right-auto {
  right: auto !important
}

[dir="rtl"] .rtl\:left-4 {
  left: 1rem !important
}

[dir="rtl"] .rtl\:mr-0 {
  margin-right: 0px !important
}

[dir="rtl"] .rtl\:pl-0 {
  padding-left: 0px !important
}

[dir="rtl"] .rtl\:pr-11 {
  padding-right: 2.75rem !important
}

@media (min-width: 640px) {
  .sm\:text-xl {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important
  }
}

@media (min-width: 768px) {
  .md\:col-span-2 {
    grid-column: span 2 / span 2 !important
  }

  .md\:my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important
  }

  .md\:my-6 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important
  }

  .md\:mr-10 {
    margin-right: 2.5rem !important
  }

  .md\:block {
    display: block !important
  }

  .md\:flex {
    display: flex !important
  }

  .md\:hidden {
    display: none !important
  }

  .md\:w-fit {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important
  }

  .md\:w-1\/2 {
    width: 50% !important
  }

  .md\:flex-grow {
    flex-grow: 1 !important
  }

  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important
  }

  .md\:grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr)) !important
  }

  .md\:flex-row {
    flex-direction: row !important
  }

  .md\:flex-col {
    flex-direction: column !important
  }

  .md\:justify-end {
    justify-content: flex-end !important
  }

  .md\:gap-4 {
    gap: 1rem !important
  }

  .md\:p-4 {
    padding: 1rem !important
  }

  .md\:py-3 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important
  }

  .md\:px-8 {
    padding-left: 2rem !important;
    padding-right: 2rem !important
  }

  .md\:px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important
  }

  .md\:pb-2 {
    padding-bottom: 0.5rem !important
  }

  .md\:pt-10 {
    padding-top: 2.5rem !important
  }

  .md\:pr-32 {
    padding-right: 8rem !important
  }

  .md\:text-4xl {
    font-size: 2.25rem !important;
    line-height: 2.5rem !important
  }

  .md\:text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important
  }

  .md\:text-lg {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important
  }

  .md\:text-3xl {
    font-size: 1.875rem !important;
    line-height: 2.25rem !important
  }

  .md\:text-xl {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important
  }

  [dir="rtl"] .md\:rtl\:ml-10 {
    margin-left: 2.5rem !important
  }

  [dir="rtl"] .md\:rtl\:pr-0 {
    padding-right: 0px !important
  }

  [dir="rtl"] .md\:rtl\:pl-32 {
    padding-left: 8rem !important
  }
}

@media (min-width: 1280px) {
  .lg\:-mx-4 {
    margin-left: -1rem !important;
    margin-right: -1rem !important
  }

  .lg\:mx-4 {
    margin-left: 1rem !important;
    margin-right: 1rem !important
  }

  .lg\:mt-0 {
    margin-top: 0px !important
  }

  .lg\:block {
    display: block !important
  }

  .lg\:flex {
    display: flex !important
  }

  .lg\:hidden {
    display: none !important
  }

  .lg\:w-40 {
    width: 10rem !important
  }

  .lg\:flex-row {
    flex-direction: row !important
  }

  .lg\:flex-col {
    flex-direction: column !important
  }

  .lg\:items-center {
    align-items: center !important
  }

  .lg\:justify-between {
    justify-content: space-between !important
  }

  .lg\:bg-transparent {
    background-color: transparent !important
  }

  .lg\:p-0 {
    padding: 0px !important
  }

  .lg\:text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important
  }

  .lg\:text-5xl {
    font-size: 3rem !important;
    line-height: 1 !important
  }

  .lg\:text-white {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important
  }
}